:root{
    --dark-backGroundColor: #212529;
    --dark-colorText: #e8e8e8;
    --li-hover-color: #a7a7a7;
    --drop-down-text-color: #e8e8e8;
    --blue-for-lightMode: #0d6efd;
    --icons-color:#a7a7a7 ;
    --icons-color-hover:#221f1f ;
  }

.icon{
    color: var(--icons-color);
}

.icon:hover{
    color: var(--li-cover-hover);
}
