.bi-people-fill,
.bi-shield-fill-x,
.bi-person-dash-fill {
  color: var(--li-hover-color);
}

.bi-people-fill:hover,
.bi-shield-fill-x:hover,
.bi-person-dash-fill:hover {
  color: var(--li-hover-color2);
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}

.connectNow {
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  transition: 0.4s;
  cursor: pointer;
}
.connectNow.light {
  background-color: var(--blue-for-lightMode);
}
.connectNow.dark {
  background-color: var(--green-for-darkMode);
}
