.connectNow{
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-image: linear-gradient(to bottom, #6554AF , #9575DE);
  transition: 0.4s;
  cursor: pointer;
}

.center-div{
  width: 25%;
  margin-right: auto;
  margin-left: auto;
}




#light{
 background-color:  #f8f9fa;
 color: rgb(36, 36, 36);
}

#dark{
  background-color: #46045e;
  color: rgb(190, 190, 190);
}

.navbar-light{
  background-color: #46045e;
}

#footer-dark{
  background-color:  #212529;
  
}
