@import './components/css/dark.css';
@import './components/css/light.css';
@import './components/css/navbar.css';
@import './components/css/users.css';
@import './components/css/footer.css';
@import './components/css/myCards.css';


:root{
  --dark-backGroundColor: #212529;
  --dark-colorText: #e8e8e8;
  --li-hover-color: #a7a7a7;
  --drop-down-text-color: #e8e8e8;
  --blue-for-lightMode: #0d6efd
}

.center-div{
  margin-right: auto;
  margin-left: auto;
  width: 38%;
  min-width: 250px;
  margin-top: 15px;
}