@import "./components/css/dark.css";
@import "./components/css/light.css";
@import "./components/css/navbar.css";
@import "./components/css/footer.css";
@import "./components/css/myCards.css";
@import "./components/css/userTable.css";
@import "./components/css/Modal.module.css";

:root {
  --light-backGroundColor: #f8f9fa;
  --dark-backGroundColor: #212529;
  --gray-backGroundColor: #494d51;
  --dark-colorText: #b1afaf;
  --dark-eyeHoverColor: #e8e8e8;
  --li-hover-color: #a7a7a7;
  --li-hover-color2: #696767;
  --card-bgColor-light: #d3d2d2;
  --card-bgColor-dark: #3f4144;
  --drop-down-text-color: #e8e8e8;
  --blue-for-lightMode: #0d6efd;
  --green-for-darkMode: #198754;
  --icons-color: #868585;
  --icons-color-hover: #050505;
}

.center-div {
  margin-right: auto;
  margin-left: auto;
  width: 38%;
  min-width: 250px;
  margin-top: 15px;
  border-radius: 10px;
}

.center-div.dark {
  background-color: var(--card-bgColor-dark);
}

.center-div.light {
  background-color: var(--card-bgColor-light);
}

.btn.btn-primary.dark {
  background-color: #198754;
  border: none;
}

.btn.btn-primary.dark:hover {
  background-color: #0e5735;
}

.bi-eye-fill,
.bi-eye-slash-fill{
  color: var(--dark-colorText);
}

.bi-eye-fill:hover,
.bi-eye-slash-fill:hover{
  color: var(--dark-backGroundColor);
}
